
:root {
    --primary-color: #0d0b52;
    --secondary-color: #3458b9;
    --font-color: #424242;
    --bg-color: #ffffff;
    --heading-color: #292922;
    --white-color: #ffffff;
    --pal-red: #EE2A35;
    --pal-green: #009736;
    --navbarHeight: 64px;
    --viewport-large: 788;
  }
  
html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  background: var(--bg-color);
  color: var(--font-color);
  box-sizing: border-box;
  font-size: 150%;
  line-height: 1.4;
  overflow-x: hidden;
  margin: 0;

  * {
    color: inherit;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
section + section {
  margin-top: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
p {
  display: inline-block;
  box-decoration-break: clone;
  -o-box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  font-size: 1.2rem;
  margin: 1rem 0;
}
.coverer {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
}

@media (max-width: (var(--viewport-large) - 1)) {
  html {
    min-height: 100vh;
  }
  body {
  }
}
